.header {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr 100px;
    grid-template-areas: "logo nav serch";
    /*grid-template: "logo nav search" max-content / 1fr 1fr 100px;*/
    align-items: center;
    justify-items: start;
    padding: 20px 0;
    text-transform: uppercase;
}

.header__logo-wrapper {
    grid-area: logo;
}

.logo {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    color: #FF4747;
}


.header__nav {
    grid-area: nav;
}

.search {
    grid-area: search;
}

.search__icon {

}